@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 10px;
}

.box {
    background-color: azure;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    transform: translateX(1000%);
    transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-1000%);
}

.box.show {
    transform: translateX(0);
}