@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu' sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://live.staticflickr.com/65535/52807065478_ff255ee01b_h.jpg') no-repeat center center/cover;
    position: absolute;
    top: -50;
    left: -50;
    width: calc(100vw + 100px);
    height: calc(100vh + 100px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: black;
}

.complete-text {
    font-size: 50px;
    color: black;
    opacity: 0;
    transition: opacity 2s;
}